
body{

    background-color: rgb(136, 172, 136)
}
.heading{
    display: block;
    text-align: center;
    justify-content: space-between;

}
img{
    width:600px;
   /* height: 500px;
    margin-left: 25%;*/
    height: inherit;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.timeline{
    max-width: 700px;
    display: block;
    /* text-align: center;*/
     margin-left: 25%;
     justify-content: space-between;
     margin-top: 20px;
   /* align-items: center;*/
    
}
li{
    margin-top: 20px;
}